<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6 <%= @bodyId %>"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7 <%= @bodyId %>"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8 <%= @bodyId %>"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9 <%= @bodyId %>"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="<%= @bodyId %>"> <!--<![endif]-->
<head>
  <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <title>Ipaymatics&#8217; &ndash; Tell Friends, We are willing to pay.</title>
  <link rel="icon" href="<%= asset_path('logo.ico') %>" type="image/x-icon">
  <link rel="shortcut icon" href="<%= asset_path('logo.ico') %>" type="image/x-icon">

  <meta property="og:title" content="Harry’s is coming!"/>
  <meta property="og:description" content="Shaving is evolving. Didn’t want to leave you all behind. Check out Harry’s here."/>
  <meta property="og:image" content="<%= asset_path("refer/truman.png") %>"/>
  <meta property="og:url" content="<%= root_url %>"/>
  <title>LandGig</title>
    
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700|Roboto:600" rel="stylesheet">
    <link rel="stylesheet" href="<%= asset_path('bootstrap.min.css') %>">
    <link rel="stylesheet" href="<%= asset_path('font-awesome.min.css') %>">
    <link rel="stylesheet" href="<%= asset_path('style.css') %>">
    <link rel="stylesheet" href="<%= asset_path('responsive.css') %>">
  <% if @is_mobile %>
    <% if @bodyId == 'home' %>
      <meta name="viewport" content="width=1600" />
    <% else %>
      <meta name="viewport" content="width=1120" />
    <% end %>
  <% end %>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body id="<%= @bodyId %>">

<%= yield %>

<script src="<%= asset_path('javascript/jquery.min.js') %>"></script>
<script src="<%= asset_path('javascript/bootstrap.min.js') %>"></script>
<script src="<%= asset_path('javascript/scripts.js') %>"></script>
</body>
</html>
